.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__posters::-webkit-scrollbar{
    display:none;
}
.row_poster{
object-fit: contain ;/*object-fit keeps the aspect ratio intact*/
width: 100%;
max-width: 100px;
margin-right: 10px;
}
.row_poster:hover{
    transform:scale(1.08);
    opacity:1;
}
